@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: 'Jua', sans-serif;
}

body {
    color: white;
    overflow: hidden;
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}


.slowhide {
    opacity: 0;
    transition: 40s all;
    text-decoration: line-through;
}

.hidden {
    display: none;
}





.left {
    text-align: center;
    margin: 0;
    display: block;
    float: left;
    position: relative;
}

.right {
    margin: 0;
    display: block;
    overflow: hidden;
}



.info {
    text-align: left;
}

.info button{
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    background-color: transparent;
    border: none;
    margin: 1vw;
    cursor: pointer;
    opacity: 30%;
}





.bglist {
    margin-bottom: 3vh;
}

.bglist button {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    opacity: 30%;
    border: 0;
}

.bglist span {
    pointer-events: none;
}

.bgButton {
    font-size: 1vw;

}

.bgShuffle {
    font-size: 1.5vw !important;
    opacity: 100% !important;
}



.weather {
    font-size: 1.2vw;
    line-height: 1em;
}

.weather button {
    background-color: transparent;
    border: none;
    color: white;
}




.calen {
    text-align: center;
}

.calen h3 {
    line-height: 100%;
    font-size: 2vw;
    text-align: center;
    opacity: 50%;
    margin: 0;
}




.clock {
    padding: 0;
    text-align: left;
    margin-top: 2vh;
}

.hourmin {
    line-height: 100%;
    letter-spacing: 1vw;
    font-size: 11vw;
    margin: 0;
}

.second {
    line-height: 100%;
    font-size: 6vw;
    opacity: 30%;
    margin: 0;
}




.greeting {
    text-align: center;
    display: inline-block;
}

.greeting h3 {
    font-size: 3vw;
    margin: 0;
}

.greeting h4 {
    font-size: 2.5vw;
    opacity: 50%;
    margin: 0;
}

.greeting button {
    font-size: 2vw;
    background-color: transparent;
    color: white;
    opacity: 30%;
    border: none;
    cursor: pointer;
}


.login-form {
    text-align: center;
}

.login-form input {
    outline: none;
    color: white;
}

.login-name {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 2vw;
    background-color: transparent;
}

.login-name::placeholder {
    color: silver;
}

.login-submit {
    border: none;
    font-size: 2vw;
    padding: 10px;
    background-color: transparent;
}





.quote {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: none;
    text-align: center;
    bottom: 2vw;
}

.quote p {
    font-size: 1.5vw;
    line-height: 10%;
}

.quote span {
    font-size: 1vw;
}





.todo-top{
    width: 100%;
    display: inline-block;
}

.todo {
    width: 100%;
    height: 90%;
    display: inline-block;
    overflow: auto;
}

.todo-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 2vw;
    outline: none;
    background-color: transparent;
    color: white;
}

.todo-input::placeholder {
    color: silver;
}

.todo-list li {
    font-size: 2vw;
    border-bottom: 1px solid #909090;
    padding: 2.5vh 2vw 1vh 2vw;
    list-style: none;
    text-indent: -2vw;
}

.todo-list button {
    background-color: transparent;
    border: 0.2vw solid white;
    border-radius: 0.5vw;
    font-size: 1vw;
    color: white;
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
    cursor: pointer;
    vertical-align: text-top;
}




@media screen and (max-width: 480px) {
    .left { width: 100%; height: 40vh; }
    .right { width: 100%; height: 50vh; position: fixed; top: 40vh; }
    .hourmin { margin-left: 30%; }
    .todo-list button { height: 3vw; width: 3vw; }
    .todo-list li { font-size: 3vw; }
    .todo-input { font-size: 3vw; }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
    body { background-size: auto 100%; }
    .left { width: 100%; height: 50vh; }
    .right { width: 100%; height: 50vh; position: fixed; top: 50vh; }
    .hourmin { margin-left: 30%; }
    .todo-list button { height: 3vw; width: 3vw; }
    .todo-list li { font-size: 3vw; }
    .todo-input { font-size: 3vw; }
}

@media screen and (min-width: 800px) {
    body { background-size: cover; }
    .left { width: 50%; height: 100vh; }
    .right { width: 50%; height: 100vh; }
    .hourmin { margin-left: 15%; }
    .todo-list button { height: 2vw; width: 2vw; }
    .todo-list li { font-size: 2vw; }
    .todo-input { font-size: 2vw; }
}