@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding:wght@700&display=swap');


* {
    font-family: 'Do Hyeon', sans-serif;
}

body {
    color: white;
    overflow: hidden;
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}


.slowhide {
    opacity: 0;
    transition: 40s all;
    text-decoration: line-through;
}

.hidden {
    display: none;
}





.left {
    text-align: center;
    margin: 0;
    display: block;
    float: left;
    position: relative;
}

.right {
    margin: 0;
    display: block;
    overflow: hidden;
}




.weather {
    font-size: 1.2vw;
    line-height: 1em;
}

.weather button {
    background-color: transparent;
    border: none;
    color: white;
}




.calen {
    margin-top: 5vw;
    margin-bottom: -1vw;
}

.calen_text {
    font-size: 1.5vw;
    text-align: center;
    opacity: 50%;
}




.clock {
    text-align: left;
    height: auto;
    font-size: 0;
}

.hourmin {
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 1vw;
    font-size: 12vw;
}

.second {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 6vw;
    padding: 0 1vw;
    letter-spacing: 0px;
    opacity: 40%;
}




.greeting {
    text-align: center;
    line-height: 0;
    display: inline-block;
    width: 100%;
}

.greeting h3 {
    font-size: 3vw;
}

.greeting h4 {
    font-size: 2.5vw;
    opacity: 50%;
}

.greeting button {
    font-size: 2vw;
    background-color: transparent;
    color: white;
    opacity: 30%;
    border: none;
    cursor: pointer;
}


.login-form {
    text-align: center;
}

.login-form input {
    outline: none;
    color: white;
}

.login-name {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 2vw;
    background-color: transparent;
}

.login-name::placeholder {
    color: silver;
}

.login-submit {
    border: none;
    font-size: 2vw;
    padding: 10px;
    background-color: transparent;
}





.quote {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: none;
    text-align: center;
    bottom: 2vw;
}

.quote p {
    font-size: 1.5vw;
    line-height: 10%;
}

.quote span {
    font-size: 1vw;
}





.todo-top{
    width: 100%;
    display: inline-block;
}

.todo {
    width: 100%;
    height: 90%;
    display: inline-block;
    overflow: auto;
}

.todo-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 2vw;
    outline: none;
    background-color: transparent;
    color: white;
}

.todo-input::placeholder {
    color: silver;
}

.todo-list li {
    font-size: 2vw;
    border-bottom: 1px solid white;
    padding: 2.5vh 2vw 1vh 2vw;
    list-style: none;
    text-indent: -2vw;
}

.todo-list button {
    background-color: transparent;
    border: 0.2vw solid white;
    font-size: 1vw;
    color: white;
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
    cursor: pointer;
    vertical-align: text-top;
}




@media screen and (max-width: 640px) {
    .left { width: 100%; height: 30vh; }
    .right { width: 100%; height: 70vh; position: fixed; top: 30vh; }
    .hourmin { margin-left: 30%; }
    .todo-list button { height: 3vw; width: 3vw; }
    .todo-list li { font-size: 3vw; }
    .todo-input { font-size: 3vw; }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
    body { background-size: auto 100%; }
    .left { width: 100%; height: 40vh; }
    .right { width: 100%; height: 60vh; position: fixed; top: 40vh; }
    .hourmin { margin-left: 30%; }
    .todo-list button { height: 3vw; width: 3vw; }
    .todo-list li { font-size: 3vw; }
    .todo-input { font-size: 3vw; }
}

@media screen and (min-width: 800px) {
    body { background-size: cover; }
    .left { width: 50%; height: 100vh; }
    .right { width: 50%; height: 100vh; }
    .hourmin { margin-left: 20%; }
    .todo-list button { height: 2vw; width: 2vw; }
    .todo-list li { font-size: 2vw; }
    .todo-input { font-size: 2vw; }
}