/* 주아체 구글 폰트 */
/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */

/* 고운돋움 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* ChivoMono 구글 폰트 (스코어보드용) */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&display=swap');


* {
    /* 주아체 */
    /* font-family: 'Jua', sans-serif; */

    /* 고운돋움 */
    font-family: 'Gowun Dodum', sans-serif;
}


body {
    color: white;
    overflow: hidden;
    /* overflow-y: scroll; */
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}


/* Slowhide, Hide Effect */
.slowhide {
    opacity: 0;
    transition: 40s all;
    text-decoration: line-through;
}

.hidden {
    display: none;
}



/* Half Line */
.left {
    width: 50%; 
    height: 100vh;
    text-align: center;
    margin: 0;
    display: block;
    float: left;
    position: relative;
}

.right {
    width: 50%; 
    height: 100vh;
    margin: 0;
    display: block;
    overflow: hidden;
}


/* Information */
.info {
    text-align: left;
}

.info button {
    opacity: 30%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

.readme{    
    margin-right: 0px;
    line-height: 0%;
    font-size: 2vw;
    color: white;
    background-color: transparent;
    border: none;
}


/* PWA Install */
.install {
    margin-left: 0px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 15px;
    background-color: #000000;
    color: white;
    font-size: 1vw;
}


/* Background Wallpaper */
.bglist {
    margin-bottom: 3vh;
}

.bglist button {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    opacity: 30%;
    border: 0;
    outline: none;
}

.bglist span {
    pointer-events: none;
}

.bgButton {
    font-size: 1vw;

}

.bgShuffle {
    font-size: 1.5vw !important;
    opacity: 100% !important;
}


/* Weather : disabled */
.weather {
    font-size: 1.2vw;
    line-height: 1em;
}

.weather button {
    background-color: transparent;
    border: none;
    color: white;
}


/* Date, Week */
.calen {
    text-align: center;
}

.calen h3 {
    line-height: 100%;
    font-size: 2vw;
    text-align: center;
    opacity: 50%;
    margin: 0;
}


/* Digital Clock */
.clock {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 2vh;
    margin-right: 10vw;
    cursor: pointer;
    user-select: none;
}

.hourmin {
    margin-left: 5vw;
    line-height: 100%;
    letter-spacing: 0.1ch;
    font-size: 12vw;
}

.second {
    display: inline-block;
    width: 8vw;
    line-height: 100%;
    font-size: 6vw;
    text-align: left;
    opacity: 30%;
    margin: 0;
}



/* Greeting */
.greeting {
    text-align: center;
    display: inline-block;
}

.greeting h3 {
    font-size: 3vw;
    margin: 0;
}

.greeting h4 {
    font-size: 2.5vw;
    opacity: 50%;
    margin: 0;
}

.greeting button {
    font-size: 2vw;
    background-color: transparent;
    color: white;
    opacity: 30%;
    border: none;
    cursor: pointer;
}


/* What is your name */
.login-form {
    text-align: center;
}

.login-form input {
    outline: none;
    color: white;
}

.login-name {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 2vw;
    background-color: transparent;
}

.login-name::placeholder {
    color: silver;
}

.login-submit {
    border: none;
    font-size: 2vw;
    padding: 10px;
    background-color: transparent;
}



.quote {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: none;
    text-align: center;
    bottom: 2vw;
}

.quote p {
    font-size: 1.5vw;
    line-height: 10%;
    letter-spacing: -2px;
}

.quote span {
    font-size: 1vw;
}


/* To Do List */
.todo-top{
    width: 100%;
    display: inline-block;
}

.todo {
    width: 100%;
    height: 90%;
    display: inline-block;
    overflow: auto;
}

.todo-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 2vw;
    outline: none;
    background-color: transparent;
    color: white;
}

.todo-input::placeholder {
    color: silver;
}

.todo-list li {
    font-size: 2vw;
    font-weight: bold;
    border-bottom: 1px solid #909090;
    padding: 2.5vh 2vw 1vh 2vw;
    list-style: none;
    text-indent: -2vw;
    text-decoration-color: red;
}

.todo-list button {
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 0.2vw solid white;
    border-radius: 0.5vw;
    font-size: 3vw;
    color: red;
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
    cursor: pointer;
    position: relative;
}

.todo-list button span {
    position: absolute;
    transform: translate(-40%, -50%);
}


/* Fullscreen mode */
.screen {
    padding: 5px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.screen button {
    color: white;
    font-size: 2.5vw;
    line-height: 0%;
    text-align: center;
    vertical-align: middle;
    border: none;
    background: transparent;
    opacity: 30%;
    cursor: pointer;
    outline: none;
}



/* Tool Belt */
.toolbelt {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 3vh 0;
    text-align: center;
    bottom: 5vw;
}

.toolbelt div {
    display: inline-block;
}

.toolbelt button {
    height: 4vw;
    width: 4vw;
    border: 0px solid white;
    border-radius: 50%;
    background-color: transparent;
    font-size: 2vw;
    color: white;
    cursor: pointer;
    line-height: 80%;
    opacity: 50%;
}


/* Analog Clock */
.analogclock {
    position: relative;
    width: 33vw;
    height: 33vw;
    margin: 0 auto;
    border: 0.3vw solid silver;
    /* border: none; */
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    /* background-image: url("img/_clockface.svg"); */
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    opacity: 0%;
}

.anhrs,
.anmin,
.ansec {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
}

.anhrs {
    width: 4%;
    height: 30%;
    background-color: white;
    transform-origin: 50% 85%;
    border-radius: 3px;
}

.anmin {
    width: 3%;
    height: 40%;
    background-color: silver;
    transform-origin: 50% 85%;
    border-radius: 2em;
}

.ansec {
    width: 1%;
    height: 40%;
    background-color: #bb0000;
    transform-origin: 50% 85%;
    border-radius: 2em;
}

.anpin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2%;
    right: 0;
    width: 1.5%;
    height: 1.5%;
    margin: auto;
    border: 4px solid #bb0000;
    border-radius: 50%;
    background-color: black;
}



/* Tool 1 - Timer */
.timer-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.timer-body {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin: 3vw auto;
    padding: 20px;
    border: 1px solid black;
    width: 60vw;
    height: 80vh;
    box-shadow: 7px 7px 20px 5px gray;
}

.timer-close {
    position: absolute;
    z-index: 10;
    float: right;
    right: 10px;
    top: 10px;
}

.timer-close button {
    color: black;
    border: 0;
    background-color: transparent;
    font-size: 4vw;
    font-weight: bold;
    cursor: pointer;
}

.timer-close button:hover {
    color: #bb0000;
    text-decoration: none;
}

.timer {
    position: relative;
    width: 60vw;
    height: 40vw;
    margin: 0 auto;
    border-radius: 20px;
}

.timer-circle {
    position: relative;
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #bb0000;
    background: conic-gradient(#bb0000 70%, white 30%);
}

.timer-time {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    text-align: center;
    line-height: 10vw;
    transform: translate(-50%, -50%);
}

.timer-time span {
    color: black;
    font-size: 2.5vw;
    font-family: 'Chivo Mono', monospace;
    letter-spacing: -0.1ch;
}

.timer-control {
    position: absolute;
    z-index: 11;
    float: right;
    right: 10px;
}

.timer-control button {
    display: block;
    border-radius: 50%;
    height: 4vw;
    width: 4vw;
    color: black;
    border: none;
    background-color: transparent;
    font-size: 1.5vw;
    pointer-events: auto;
    cursor: pointer;
    line-height: 80%;
    text-align: center;
    padding: 0;
}

.timer-control button:hover {
    border: 1px solid silver;
}

.timer-reset > ion-icon ,
.timer-pause > ion-icon {
    color: red;
    cursor: pointer;
}

.timer-reset:hover,
.timer-pause:hover {
    background-color: #ececec;
    cursor: pointer;
}

.timer-timeup-dialog {
    z-index: 9;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 20vw;
    height: 20vw;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background-color: yellow;
    background: repeating-linear-gradient(
        -40deg,
        black,
        black 20px,
        yellow 20px,
        yellow 40px
    );
    animation: blink-blink 1s step-end infinite;
    margin: 0 auto;
    padding: 20px;
    visibility: hidden;
}

.timer-timeup-dialog button {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    border: 0;
    border-radius: 20px;
    font-size: 8vw;
    line-height: 80%;
    cursor: pointer;
}


/* Tool 2 - Scoreboard, Scorecounter */
.score {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: black;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    display: none;
    user-select: none;
}

.score-body {
    position: relative;
    width: 100%;
    height: 100%;
}

.teamblack,
.teamwhite {
    position: absolute;
    display: block;
    border: 2px solid black;
    width: 50%;
    height: 100%;
}

.teamblack {
    background-color: black;
    color: white;
}

.teamwhite {
    background-color: white;
    color: black;
}

.teamblack span,
.teamwhite span {
    font-family: 'Chivo Mono', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 30vw;
    letter-spacing: -0.1ch;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.tbup,
.twup,
.tbdn,
.twdn {
    cursor: pointer;
}
.tbup, 
.twup {
    position: absolute;
    display: inline-block;
    height: 50%;
    width: 100%;
    top: 0px;
    background-color: transparent;
    z-index: 10;
    border: 0px;
    border-bottom: 2px solid white;
    background: linear-gradient( to bottom, transparent 80%, #dedede, #787878);
    opacity: 20%;
}
.tbup {
    left: 0px;
}
.twup {
    right: 0px;
}


.tbdn, 
.twdn {
    position: absolute;
    display: inline-block;
    height: 50%;
    width: 100%;
    bottom: 0px;
    background-color: transparent;
    z-index: 10;
    border: 0px;
    border-top: 2px solid black;
    background: linear-gradient( to top, transparent 40%, #FFFFFF, #EEEEEE);
    opacity: 15%;
}

.tbdn {
    left: 0px;
}
.twdn {
    right: 0px;
}

.twscore {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
    text-align: center;
    vertical-align: middle;
}

.sbclose,
.sbreset,
.sbchange,
.sbwhistle {
    position: fixed;
    display: flex; /* 아이콘 정렬 스타일 */
    width: 7vw;
    height: 7vw;
    background-color: transparent;
    border: 0;
    padding: 0px;
    font-size: 4vw;
    align-items: center; /* 세로 중간정렬 */
    justify-content: center; /* 가로 중앙정렬 */
    z-index: 11;
    opacity: 75%;
    color: gray;
    cursor: pointer;
}

.sbreset {
    top: 0px;
    left: 0px;
}

.sbclose {
    top: 0px;
    right: 0px;
}

.sbclose:hover {
    color: #bb0000;
}

.sbchange {
    bottom: 0px;
    left: 0px;
}

.sbwhistle {
    bottom: 0px;
    right: 0px;
}





@keyframes blink-blink {
    30% {
        opacity: 20%;
    }
}

@media( orientation: portrait ){
    html {
      transform: rotate(-90deg);
      transform-origin: top left;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vh;
      height: 100vw;
    }
}

/*

@media screen and (max-width: 480px) {
    .left { width: 100%; height: 40vh; }
    .right { width: 100%; height: 50vh; position: fixed; top: 40vh; }
    .hourmin { margin-left: 30%; }
    .todo-list button { height: 3vw; width: 3vw; }
    .todo-list li { font-size: 3vw; }
    .todo-input { font-size: 3vw; }
    .toolbelt button { font-size: 5vw; }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
    body { background-size: auto 100%; }
    .left { width: 100%; height: 50vh; }
    .right { width: 100%; height: 50vh; position: fixed; top: 50vh; }
    .hourmin { margin-left: 30%; }
    .todo-list button { height: 3vw; width: 3vw; }
    .todo-list li { font-size: 3vw; }
    .todo-input { font-size: 3vw; }
    .toolbelt button { font-size: 4vw; }
}

@media screen and (min-width: 800px) {
    body { background-size: cover; }
    .left { width: 50%; height: 100vh; }
    .right { width: 50%; height: 100vh; }
    .hourmin { margin-left: 15%; }
    .todo-list button { height: 2vw; width: 2vw; }
    .todo-list li { font-size: 2vw; }
    .todo-input { font-size: 2vw; }
    .toolbelt button { font-size: 2vw; }
}
*/